
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}






.center {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    align-items: center;
}




html, body {
    height: 100%;
    overflow-x: hidden;

}




header {
    background-color: #0300b9;
    color: white;
    height: 120px;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}





.logo img {
    height: 80px;
    width: auto;
}







.menu {
    width: auto;
}





.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    font-size: 18px;
}






section.sobre {
    margin-top: 140px;
    height: calc(100% - 140px);
    position: relative;
}






body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}






.form-container {
    background: rgba(4, 6, 138, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    width: 300px;
    text-align: center;
    margin-top: 160px;
}






.form-container h2 {
    margin-bottom: 20px;
}








.form-container label {
    display: block;
    margin: 10px 0;
}







.form-container input[type="submit"] {
    background-color: hsl(189, 100%, 50%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}






.form-container input[type="submit"]:hover {
    background-color: #009261;
}





.thank-you-message {
    display: none;
    font-size: 18px;
    color: #4CAF50;
}

