* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.center {
    display: flex;
    justify-content: space-between; 
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
    align-items: center; 
}



html, body {
    height: 100%;
    overflow-x: hidden;
}




header {
    background-color: #0300b9; 
    color: white; 
    height: 120px; 
    padding: 10px 0; 
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000; 
}



.logo img {
    height: 80px; 
    width: auto; 
}




.menu {
    width: auto; 
}




.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px; 
    font-size: 18px; 
}




section.sobre {
    margin-top: 140px; 
    height: calc(100% - 140px); 
    position: relative;
}





.linha-roxa {
    display: inline-block;
    border-bottom: 2px solid rgb(118, 80, 255);
    padding-bottom: 5px;
}






.text h1 {
    padding-left: 35px;
}
